*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhZGllbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=700&q=60);
    background-size: cover;
}
.dp1{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 70px;
}
.t1{
    
    color: antiquewhite;
    margin-left: 550px;
    margin-top: 60px;
}
.d1{
    height: 500px;
    width: 300px;
    background-color: yellow;
    
}
.d2{
    height: 500px;
    width: 300px;
    background-color: green;
    
}
.d3{
    height: 500px;
    width: 300px;
    background-color: grey;
    
}
.last{
    width: 100%;
    height: 200px;
    background-color: black;
}
.p1{ margin-top: 20px;
    font-size: 50px;
}
.p2{
    margin-top: 60px;
    font-size: 30px;
}